@model AdobeApp.Models.Games

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Games</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatePlayed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePlayed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Challenger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Challenger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Challenged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Challenged)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinnerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinnerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReporterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReporterID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GameID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
